{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form method="post" action="/info">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="domain name" name="domain"
                       aria-describedby="button-addon2">
                <button class="btn btn-primary" type="submit" id="submit">submit</button>
            </div>
        </form>
        <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
            <a class="navbar-brand">Result:</a>
            <ul class="nav nav-pills">
            </ul>
        </nav>
        {% if file and cms %}
            {% for i in file %}
                <p style="color: #003466;">Find URL: {{ i }}</p>
            {% endfor %}
            <p style="color: #003466;">CMS: {{ cms }}</p>
        {% endif %}
    </div>
{% endblock %}